<!-- <div class="container-fluid border border-5 " >
    <app-nav-bar class="col-sm-12  text-center  " ></app-nav-bar>
    <div class="row">
        <app-sidebar class="col-sm-2  text-center border border-5" ></app-sidebar>
        <div class="col-sm-10  text-center border border-5">
            <router-outlet ></router-outlet>

        </div>

    </div> -->


<!-- <app-about-us  class="col-sm-12  text-center"></app-about-us> -->
    <!-- <app-footer class="col-sm-12  text-center"></app-footer>
</div> -->
<app-nav-bar class="col-sm-12  text-center  " ></app-nav-bar>


<router-outlet></router-outlet>


